.count-container{
    background: #fff;
    width: 180px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 5px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 1px 1px 5px 1px;
    img{
        width: 20px;
    }
    .icon-container{
        display: flex;
        width: 45px;
        background: #d63131;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
        height: 40px;
        flex-direction: column;
        border-radius: 5px;
        margin-right: 10px;
    }
    .text-container{
        width: 80%;
        padding-top: 15px;
        .count{
            font-size: 16px;
            font-weight: 900;
            padding-left: 10px;
            margin-bottom: 0px;
            line-height: 0;
            margin-top: revert;
        }
        .name{
            width: 95px;
            overflow-wrap: break-word;
            font-size: 10px;
        }
        .big{
            font-weight: bolder;
                font-size: 9px;
        }
        .info{
            background: #FFC107;
            color: #fff;
            font-size: 10px;
            width: 40px;
            border-radius: 5px;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
    }
}