.loginPage{
    body{
        background-color: #c8ddfd !important;
    }
    .media-content{
        .content{
            border: 1px solid;
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: center;
            align-items: center;
            background: navy;
            margin-top: 100px;
            border-radius: 10px;
            color: #fff;
    
             input{
                padding: 10px;
                width: 240px;
                margin: 10px;
             }
            .MuiInputLabel-formControl{
                font-size: 24px;
                color: #fff;
            }
            .MuiInputBase-input{
                margin-top: 20px;
                border-radius: 5px;
                padding: 10px;
            }
            .form-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.login-loading{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    img{
        height: 40px;
    }
}