.dash-page-header{
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #d4dcdc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p{
        background: #4950b7;
        color: #fff;
        border-radius: 6px;
        padding: 5px;
        font-size: 14px;
        margin-right: 10px
    }
    small{
        padding: 15px;
    }
    &:hover{
        .pop-info{
            display: block;
        }
    }
    .pop-info{
        position: absolute;
        text-align: left;
        top: 80px;
        right: -5px;
        display: none;
        box-shadow: 1px 1px 13px 3px #0000000a;
        p{
            background: none;
            color: #666;
        }
    }
}