.service-counters{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    min-height: 350px;
}