.nav-link{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    &:hover{
        background: #40458c;
    }
    a{
        color: #fff;
    }
    .nav-link-title{
        width: 100%;
        border-bottom: 1px solid #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        justify-items: center;
        margin-left: 10px;
        padding-bottom: 20px;
    }

    .nav-link-icon{
        width: 40px;
        display: flex;
        justify-content: center;
        img{
            width: 20px;
            height: 30px;
        }
    }
}

.logo-container{
    display: flex;
    justify-content: center;

    img{
        width: 150px;
        padding: 15px;
    }
}