.dash-btn{
    border-radius: 1px;
    background: white;
    color: #555;
    border: none;
    box-shadow: -1px 4px 9px 0px #00000017;
    min-width: 180px !important;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

    &.orange-btn{
        background: orange;
        color: white;
    }

    .btn-icon{
        max-width: 25px;
        padding-right: 10px;
    }

    &.small{
        min-width: 120px !important;
    }

   
}

button:disabled,
button[disabled]{
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed;
}