.round-table{
    display: flex;
    padding:20px;
    flex-direction: column;
    .show-table{
        display: flex;
    }

    .hide-table{
        display: none;
    }

    table{
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 0px #0000000f;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    thead{
        tr{
            &:first-of-type {
                border-bottom:  1px solid #d6d6d65e;
            }
        }
    }
    tr{
        display: flex;
        justify-items: center;
        align-content: center;
        align-items: normal;
        justify-content: space-evenly;
    }
    td{ 
        width: 200px;
        padding: 10px;
        text-align: center !important;
        &:last-of-type {
            border-right: none;
        }
        span{
            &.Approved{
                background: #4CAF50;
                color: #fff;
                padding: 7px;
                font-size: 12px;
                border-radius: 5px;
            }
            &.Pending{
                background: #FFC107;
                color: #fff;
                padding: 7px;
                font-size: 12px;
                border-radius: 5px;
            }
            &.Declined{
                background: tomato;
                color: #fff;
                padding: 7px;
                font-size: 12px;
                border-radius: 5px;
            }
            &:hover{
                img{
                    transform: scale(1.02);
                    translate: all .3s ease-in-out;
                }
            }
            padding:2px;
            img{
                width: 15px;
                &:hover{
                        cursor: pointer;
                        transform: scale(1.2);
                        translate: all .3s ease-in-out;
                }
            }
        }
    }
    th{
        font-weight: 500;
        color: #363636;
        text-align: center !important;
        padding: 10px;
        width: 200px;
    }
}

.tab-titles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{  
        width: 200px;
        cursor: pointer;
        padding: 10px;
        text-transform: capitalize;
        text-align: center;
        &.selected{
            border-radius: 10px;
            background: orange;
            &:hover{
                background: orange;
                strong{
                    color: #555;
                }
            }
            strong{
                
                color: #fff !important;
            }
        }
        &:hover{
            background: #e0dfdda3;
            border-radius: 10px;
            strong{
                color: #555;
            }
        }
    }
}

.collapsible {
    transition: all 0.25s ease-in-out;
    margin-bottom: 1.5rem;
    background-color: #fff;
    cursor: pointer;
    &:hover:not(.open) {
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07);
    }
    &.open {
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07);
    }
    .icon {
        transform: translateY(4px);
    }
}

.collapse-container{
    width: 100%;
    max-width: 50rem;
    ol{
        padding:20px;
    }
}

.collapse-title{
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    
    h5 {
        margin: 0;
        font-weight: bolder;
        text-transform: capitalize;
        background: #fafafa;
        padding: 5px;
        border-radius: 5px;
        color: #363636;
    }
}

.collapse-par{
    width: 100%;
    transition: all 0.25s ease-in-out;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0px;
    opacity: 0;
    padding: 0 1.5rem 1.5rem 1.5rem;
    transform: scaleY(0);
    transform-origin: top center;
    display: none;
    &.open{
        opacity: 1;
        max-height: 1000px;
        overflow: auto;
        transform: scaleY(1);
        display: block;
    }
    &.closed {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transform: scaleY(0);
        display: none;
    }
    &.label2{
        border: 1px solid #333;
        padding: 5px;
        font-size:14px;
        margin: 15px;
        width: 600px;
    }
    .approved-status{
        padding: 10px;
        border: 1px solid #666;
        margin: 0;
        background: #e8e8e8;
    }
    .reason{
        padding: 10px;
        border: 1px solid #666;
        margin: 0;
    }
    .reason-title{
        padding: 10px;
        border: 1px solid #666;
        margin: 0;
        background: #ffdd5794;
        font-weight: 900;
    }
    &.tracking{
        background: #f2f2f2bf;
    }
}
.show-collapsible{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide-collapsible{
    display: none;
}
