.dash-layout-main{
    height: 100vh;
    width: 100vw;
    margin-top: 0 !important;

    .dash-layout-sidebar{
        background: #303581;
        height: 100vh;
        position: fixed;
    }
    .dash-layout-page{
        margin-left: 25%;
        transition: all 1s ease-in-out;
        background: #ebf3fe;
        width: 76% !important;
        overflow-y: scroll;
        height: 100vh;
        .refreshing{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh;
        }
    }
    .page-action-center{
        padding-left: 30px;
        padding-top: 30px;
        .dash-page-action-header{
            padding-bottom: 30px;
            h1{
                color: tomato;
                font-size: 26px;
                font-weight: bold;
            }
        }
        .dash-page-action-buttons{
            display: flex;
            justify-content: flex-end;
        }
    }
}

.not-logged-in{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    .login-info{
        width: 600px;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 7px 2px #0000001a;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            padding: 15px;
            width: 250px;
            border: 1px solid #dbdbdb;
            box-shadow: 1px 1px 4px 1px #0000004d;
            background: #fff;
        }
    }
    .login-logo{
        background: navy;
        padding: 20px;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        animation:  pulse 1.5s
                    ease-in-out
                    0s
                    alternate
                    infinite
                    none
                    running;
        box-shadow: 1px 1px 1px 3px red;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 1px 1px 1px 3px red;
        transform: scale(1);
        transition: all .5s ease-in-out;
    }
    100% {
        box-shadow: 1px 1px 1px 5px red;
        transform: scale(1.05);
        transition: all .5s ease-in-out;
    }
  }

html, body, #___gatsby, #gatsby-focus-wrapper, .tl-edges, .tl-wrapper {
    height: 100vh !important;
}
