.table-item{
    table{
        box-shadow: 1px 1px 3px 2px #00000024;
        background-color: #fff;
        width: 900px;
        border-radius: 5px;
        width: 900px;
        tr{
            th{
                width: 100px;
                padding: 10px;
            }
            td{
                width: 100px;
                padding: 10px;
            }
        }
    }
}

.ap-services{
    height: 20px;
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    margin: 10px;
    .serv{
        display: flex;
        flex-direction: row;
        background: #9e9e9e63;
        justify-content: space-between;
        border-radius: 5px;
        color: #333644;
        font-weight: 800;
        margin: 5px;
        p{
            margin:0;
            padding: 5px;
            font-size: 10px;
        }
    }
}

.table-item{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totals{
    background: #303581;
    height: 200px;
    margin: 15px;
    color: #fff;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    h1{
        margin-left: 20px;
        font-weight: bold;
        font-size: 18px;
    }
    .ap-services{
        width: auto !important;
    }
    .serv{
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #888;
        padding: 2px;
        margin: 2px;
        width: 180px;
        p{
            font-size: 12px;
            &:last-child{
                color: orange;
            }
        }
    }
}