.input-search-container{
    box-shadow: 1px 1px 5px 1px #a7a7a747;
    background: #fff;
    display: flex;
    padding: 5px;
    align-items: center;
    width: 95%;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 35px;
    img{
        width: 20px;
        margin: 10px;
    }
    input{
        height: 100%;
        border: none;
        font-size: 16px;
        outline: none;
        width: 100%;
    }
}