.quicksearch-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.longsearch-container{
    display: flex;
    justify-content: center;
}

.react-datepicker__input-container{
    input{
        padding: 10px;
        border: none;
        background: #fff;
        width: 150px;
        height: 40px;
        box-shadow: 1px 1px 3px 1px #0000001c;
    }
    .react-datepicker__close-icon{
        left: 120px;
        &::after{
            background-color: #F44336;
        }
    }
}