// Importing variables
@import "./variables.scss";
@import "./_include-media.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf'); 
}

@font-face {
  font-family: Raleway-Medium;
  src: url('../fonts/raleway/Raleway-Medium.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Poppins-Regular.otf')  format('opentype'),
       url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf')  format('truetype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.home-page-container{
  padding: 0vw 5vw;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 20px 15vw;
  height: 100vh;
  background: url("../images/fullleaves.png");
    background-repeat: repeat;
      background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  justify-content: center;
}

.signupnav{
  width: 20vw;
  border: 1px solid #000;
  height: 600px;
  background: #303581;
  color: #fff;
  border-radius: 20px;
  padding: 20px 30px;
  .signup-link{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    text-transform: capitalize;
    align-items: center;
    &:last-of-type{
      .link-label{ border-bottom: none;}
    }
  }
  .link-label{
    width: 400px;
    height: 70px;
    padding: 5px;
    font-size: 14px;
    text-transform: capitalize;
    align-items: center;
    justify-items: center;
    display: flex;
    border-bottom: 1px solid #fff;
    &:hover{
      background: #404590;
    }
    a{
      color:#fff;
    }
  }
}

.circle-digit{
  
  background: white;
  border-radius: 0.8em;
  color: #792828;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 2.3em;
  height: 1.4em;
  align-items: center;
  justify-content: center;
  align-content: center;

}
.children-container{
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    background: #fff;
    box-shadow: 1px 1px 6px 1px #0000003d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}


body {
  background: #ebf3fe;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Poppins-Regular';
  font-size: 14px; 
}

.navbar{  
  background: transparent !important;
}

.navbar-item img {
  max-height: 3.75rem;
  margin-top: 20px;
}
.navbar-brand {
  @include media("<desktop") {
    justify-content: center;
  }
}

.navbar-menu{
  display: flex;
  justify-content: flex-end;
  .navbar-end{
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    p{
      font-size: 16px;
      font-weight: 900;
    }
    a{    
      background: #efaa1a;
      padding: 10px;
      border-radius: 35px;
      width: 200px;
      text-align: center;
      color: #fafafa;
    }
  }
}
.main-page-article {
  @include media(">=tablet", "<desktop") {
    flex-direction: column;
    padding: 30px;
    min-height: 80vh;
    figure {
      width: 50%;
    }
    .content {
      text-align: center;
    }
    .buttons {
      justify-content: center;
    }
    p {
      font-size: 2em !important;
      font-weight: 100;
      color: #fff;
    }
  }
  @include media("<tablet") {
    padding: 15px;
    width: 100vw;
    height: 100vh;
    figure {
      display: none;
    }
    .content {
      height: 100vh;
      padding-top: 10vh;
      text-align: center;
      .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        height: 20vh;
        a {
          width: 100%;
          text-align: center;
          button {
            width: 80%;
          }
        }
      }
      h1 {
        font-size: 2em !important;
      }
      p {
        font-size: 1em !important;
        font-weight: 100;
      }
    }
  }
}
.MuiStepper-root {
  background: none !important;
  .MuiStepLabel-label {
    color: rgba(0, 0, 0, 0.54) !important;
    color: #440707 !important;
    font-weight: 900 !important;
  }
}

.hero {
  min-height: 100vh !important;
  .hero-body {
    padding: 0 !important;
    align-items: start !important;
  }
}

.gradientBg {
  display: flex;
  background: #f9e2e2;
}

.bgBlur {
    display: flex;
    flex-direction: column;
    background: url(../images/background_home.png) no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.vector {
  max-width: 100px;
}

.brand-text-dark-red {
  color: #d81111 !important;
}

.brand-button-dark-red {
  border: 3px solid #ca2828;
  background-color: #ca2828;
  color: #fff;
}

.brand-button-dark-red-outline {
  background-color: #fff;
  color: #ca2828;
  border: 3px solid #fff;
}

.brand-text-color-grey {
  color: #3d4142;
}

.force-transparency {
  background-color: rgba(250, 2500, 250, 0.8) !important;
}

.banner {
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  text-align: center;
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }
  & + .option-box-content {
    margin-bottom: 0px !important;
    border-radius: 10px;
  }
}
.login {
  height: 60vh !important;
  padding: 50px;
  @include media("<desktop") {
    min-height: 120vh !important;
    overflow-y: inherit !important;
    .option-box-content {
      min-height: 170vh !important;
      height: 150vh !important;
      padding-top: 30px;
    }
  }
  @include media(">=tablet", "<desktop") {
    .option-box-content {
      padding: 50px;
    }
  }
}
.user-option-box {
  padding: 20px;
  background: #fff;
  @include media("<desktop") {
    width: 100vw;
    margin: 0 !important;
    min-height: 80vh;
  }
  section{
    background: #fff;
  }
  .details{
    height: 400px;
    overflow-y: scroll;
    background: #8080800f;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 1px 1px 7px 4px #0000003b;
    border-radius: 10px;
    h1{
      font-weight: 900;
      font-size: 16px;
    }
  }
  .prebooking-gen-form{

    .component-margin{
      width: 300px !important;
    }

    form{
      padding: 25px;
      padding-bottom: 0px;
      height: 400px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0px !important;
    }
    .form-button-container{
      display: flex;
      justify-content: center;
    }

  }
  .company-deets-form{
    .form-container{
      
    }
    
    form {
      padding: 0px 45px;
      padding-bottom: 0px;
      height: 400px;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin-bottom: 15px;
      .component-margin{
        width: 200px;
        padding: 10px;
        margin: 0px !important;
      }
    }
  }
  @include media(">=tablet", "<desktop") {
    width: 100vw;
    margin: 0 !important;
    min-height: 100vh;
    .company-deets-form {
      padding: 50px;
    }
  }

  form {
    .MuiFormControl-root {
      min-width: 100% !important;
    }
  }
  @include scrollbars(0.5em, slategray);
  .bi-form {
    margin: 15px;
  }
  .option-box-content {
    background: #fff;
    margin: -1.25rem !important;
    height: 70vh;

    h1 {
      font-size: 30px;
      padding: 25px;
    }

    button {
      background: #be251d;
      &:hover {
        background: #be251d;
      }
    }

    .boom {
      background: #fff;
      display: flex;
      padding: 0;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      img {
        position: absolute;
        width: 250px;
        @include media("<desktop") {
          position: relative;
        }
      }
      .blur {
        background: url("../images/clinic.jpg") center center no-repeat fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
        filter: blur(10px);
        border: 2px solid black;
      }
    }
    p {
      &:not(.Mui-error) {
        font-size: 18px;
        margin: 10px 0px;
        font-weight: 300;
        padding: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: sans-serif;
        color: grey;
      }
    }

    .form-page-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        text-align: center;
      }
    }

    .form-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form {
      padding: 25px;
      padding-bottom: 0px;
      height: 200px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .component-margin{
        width: 200px;
        padding: 10px;
      }
    }
    .form-button-container{
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
  .buttons {
    @include media("<desktop") {
      justify-content: center;
    }
  }
}

.open-employee-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.date-header {
  font-size: 16px;
  color: #5b5b5b;
}

.date-picker-box {
  overflow: hidden !important;
  flex-direction: column !important;
  .DayPicker__withBorder {
    box-shadow: none !important;
  }
  .DayPickerNavigation_button__default {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fffdfd;
  }

  .DayPickerNavigation_svg__horizontal {
    fill: #f1fcff;
  }

  .floaty-left {
    position: absolute;
    top: 170px;
    font-size: 32px;
    color: #e84058;
    left: -10px;
    float: left;
  }
  .floaty-right {
    position: absolute;
    top: 170px;
    font-size: 32px;
    color: #e84058;
    right: -10px;
    float: right;
  }
  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: #dd0c0c;
    border: 1px double #dd0c0c;
    color: #fff;
    font-weight: bold;
  }
  .CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:active, .CalendarDay__blocked_out_of_range:hover {
    background: #aeaeae;
    border: 1px solid #e4e7e7;
    color: #fafafa;
  }
  .CalendarDay {
    text-align: center !important;
  }
}

.user-option-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0px 0px;
}

.color-box {
  background-color: #fff;
  box-shadow: none !important;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
  }
}

.service-button {
  width: 100%;
  border: 2px dashed #f2f2f2 !important;
  background: none;
  padding: 25px;
  background-color: #fff !important;
  color: gray !important;
  border-radius: none !important;
  margin-top: 10px;
}
.service-row {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background-color: #e04860;
  padding:10px;
  &:first-of-type {
    border: 1px solid #f2f2f2;
  }
  &:nth-of-type(2) {
    border-top: none;
  }
  div {
    margin-right: 10px;
  }
  select {
    width: 150px;
  }
  input {
    width: 50px;
  }

  .MuiInputBase-formControl {
    background-color: #e04860;
    &:hover {
      border-radius: 0;
      background-color: #e04860 !important;
      transition: none !important;
    }
  }
  .MuiFilledInput-underline::before {
    border: none;
    &:hover {
      border: none;
    }
  }
  .MuiFilledInput-underline {
    border: none;
    &:hover {
      &::before {
        border: none;
      }
    }
  }
  .MuiSelect-select{
    color: #564a4a !important;
  }
  .MuiInputBase-input {
    color: #fff;
  }
  label{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
}

.trash {
  color: #ffffff9e;
  padding: 10px;
  padding-top: 10px;
  display: inline-block;
  width: 60px;
  height: 56px;
  margin-left: 10px;
  font-size: 24px;
  text-align: center;
  background: transparent;
  padding-top: 12px;
  &:hover {
    color:#fff;
  }
}

button {
  padding: 15px 20px;
  min-width: 180px;
  margin-right: 10px;
  border-radius: 5px;
}

.employees-table {
  width: 550px;
  margin-top: 0px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .employee-rows {
    height: 300px;
    overflow-y: scroll;
    padding: 20px;
    .is-collapsed {
      transition: height 0.2s ease-in-out;
      overflow: hidden;
    }
    .is-not-collapsed {
      height: 500px;
      transition: height 0.25s ease-in-out;
      overflow: hidden;
      @include media("<tablet") {
        height: 150vh;
        .MuiFormGroup-row {
          .MuiFormControlLabel-root {
            width: 100%;
          }
        }
      }
    }
    .employee-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      .questions{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
      }
      .medical-service{
        .MuiTypography-body1 {
          font-size: 10px;
          font-weight: bold;
          line-height: 1.5;
          letter-spacing: 0.00938em;
      }
      }
    }
    .MuiFormGroup-row {
      justify-content: space-between;
      align-content: center;
      justify-content: center;
      .MuiFormControlLabel-root {
        width: 140px;
      }
    }
    fieldset {
      margin: 10px 0px;
      padding: 10px 0px;
    }
    .unselected {
      display: flex;
      justify-content: space-between;
      border: 1px solid#80808024;
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      align-items: center;
      padding-left: 20px;
      margin: 0 !important;
      border-radius: 10px;
      .trash {
        color: inherit !important;
        background: none !important;
        font-size: 16px !important;
        padding: none !important;
        margin: none !important;
        width: auto !important;
        height: auto !important;
        &:hover {
          color: rgb(214, 209, 209) !important;
        }
      }
      .edit {
        font-size: 0 !important;
        transition: font-size 0.25s ease-in-out;
      }
      background-image: linear-gradient(to right, #3354c7, #303581, #303581, #dc3f2f);
      box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
      background-size: 300% 100%;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      &:hover {
        .edit {
          font-size: 16px !important;
          transition: font-size 0.25s ease-in-out;
        }
        background-position: 100% 0;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-margin {
  margin-bottom: 15px;
}
.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $secondary-color;
  }
}

p {
  font-size: 12px;
  margin: 10px 0px;
}
.btn-custom {
    background-color: #2c40c7;
    border-color: #2c40c7;
    color: #ffffff !important;
}

.w-lg {
  min-width: 140px;
}
.btn-red{
  background-color: #dc3f2f !important;
  border-color: #dc3f2f !important;
}
.btn {
  border-radius: 19px !important;
  font-size: 12px;
  outline: none !important;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem !important;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:disabled{
    background-color: grey !important;
    cursor: not-allowed;
    border: 1px solid grey !important;
  }
}


.report-searchbars{
  .buttons{
    padding: 5px 30px;
  }
  .quick{
    padding-right: 45px;
    padding-left: 10px;
  }
}

.services-container{
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}


.form-container-prebooking{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container-company{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}