.status{
    background: #f2f2f2;
    padding: 15px;
    margin: 20px 0px;
    width: 100%;
    border-radius: 10px;
    .segmented-control{
        width: 100% !important;
    }
    textarea{
        width: 100%;
        height: 150px;
        font-size: 16px;
        padding: 10px;
        border: none;
    }
}

.error{
    padding: 10px;
    background: #f13e62;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    margin: 10px 0px;
}

b{
    padding: 4px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 100;
    margin-right: 5px;
    padding-right: 8px;
    &.green{
        background: #4CAF50;
        color: #fff;
    }
    &.orange{
        background: #FFC107;
        color: #fff;
    }
    &.tomato{
        background: tomato;
        color: #fff;
    }
}

.deletedBy{
    background: #ededed;
    padding: 10px;
}

h2{
    font-size: 16px;
    padding: 10px 0px;
    margin: 10px 0px;
}

textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid #e4e7e7;
    font-size: 16px;
    color: #5f6466;
}

section{
    padding: 10px;
    background: #ededed;
    margin: 15px;
    &.modal-card-body{
        margin:0px;
    }
}
.notification{
    background: "#63ab63";
    text-align: center;
    &.grey{
        background: lightslategray;
    }
    h2{
        color:fff
    }
}