.show{
    right: 0;
    transition: all 1s ease-in-out;
}

.hide{
    right: -50vw;
    transition: all 1s ease-in-out;
}

.dialog{
    padding: 30px;
    width: 30vw;
    position: fixed;
    top: 0;
    height: 100vh;
    bottom: 0;
    background: #fff;
    overflow: auto;
    box-shadow: 1px 0px 8px 2px #55555536;
    input, select{
        padding: 10px;
        width: 100%;
        border: 1px solid #e4e7e7;
        font-size: 16px;
        color: #5f6466;
    }
    ol{
        li{
            padding: 10px;
            width: 100%;
            font-size: 16px;
            color: #5f6466;
        }
    }
    p{
        &.danger-zone{
            padding: 20px;
            font-size: large;
            border: 3px solid tomato;
            border-radius: 5px;
            background: #ff63474a;
            font-weight: 200;
        }
        &.info-par{
            font-size: 16px;
            text-transform: capitalize;
            padding: 5px;
        }
        &.info-par2{
            font-size: 13px;
            background: #fff;
            padding: 15px;
            display: flex;
            margin: 0;
            border: 1px solid #000;
            border-top: none;
            font-weight: lighter;
            flex-direction: column;
        }
        &.label2{
            background: #fafafa;
            padding: 5px;
            display: flex;
            border: 1px solid #000;
            margin: 0;
            font-size: 16px;
            font-weight: bolder;
        }
    }
    .greyish{
        background: #ededed;
        font-family: sans-serif;
        border-radius: 5px;
        margin: 15px;
        box-shadow: 1px 1px 4px 2px #0000001a;
        p{
            background: #fff;
            padding: 5px;
            display: flex;
            justify-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #cacccd;
            margin: 0;
            span{
                padding:5px;
                &.data-label{
                    font-weight: 600;
                }
                &.data{
                    font-weight: 300;
                }
            }
            &:first-of-type{
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            &:last-of-type{
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom: none;
            }
        }
    }
}