.actions{
    display: flex;
    justify-content: space-between;
    width: 80px;
    a{
        font-size: 10px;
        margin-top: -10px;
        text-transform: uppercase;
    }
}

.key-service-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    label{
        width: 200px;
    }
}

.key-employee-row{
    background: #f0f0f0;
    padding: 5px 15px;
    margin: 5px 0px;
}

.dash-btn{
    display: inline;
}